//------Burger-menu------//
.header__burger {
  display: none;
  @media (max-width: 980px){
    display: block;
    
  }
  grid-area: burger;
  align-self: center;
  justify-self: end;
  width: 24px;
  height: 12px;
  position: relative;
  z-index: 3;
  text-align: center;
  cursor: pointer;
}
.header__burger span{
  position: absolute;
  background-color: #000;
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  top: 5px;
  border-radius: 30px;
  transition: all 0.3s ease 0s;
}
.header__burger:before,
.header__burger:after{
  content: '';
  background-color: #000;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  border-radius: 30px;
  transition: all 0.3s ease 0s;
}
.header__burger:before{
  top: 0;
}
.header__burger:after{
  bottom: 0;
}

.header__burger.active span{
  transform: scale(0);
}

.header__burger.active:before{
  transform:rotate(45deg);
  top: 9px;
}
.header__burger.active:after{
  transform:rotate(-45deg);
  bottom: 2px;
}

.header__menu {
  display: block;
  background: rgba(255,255,255,0.9);
  max-width: 300px;
  height: auto;
  padding: 20px;
  box-sizing: border-box;
  position: absolute;
  top: -350px;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid #c1c1c1;
  transition: all 0.7s;
}

.header__menu.active{
  top: 10px;
}

.header__list {
  display: block;
}
.header__list li{
  margin: 0px 0px 20px 0px;
}
.burger__link {
  font-size: em(24);
  color:#313131;
  font-weight: 700;
}
//------END BURGER-------//