<section class="advantages">
  <div class="container advantages__container">
    <div class="advantages__item">
      <div class="advantages__image" data-image="1">
        <img src="img/advantages/advantages-1.webp" alt="picture" aria-hidden="true">
      </div>
      <p class="advantages__text">Найдем <span>компромисс</span><br> с любым заказчиком</p>
    </div>
    <div class="advantages__item">
      <div class="advantages__image" data-image="2">
        <img src="img/advantages/advantages-2.webp" alt="picture" aria-hidden="true">
      </div>
      <p class="advantages__text">Весь <span>комплекс</span><br> подрядных услуг </p>
    </div>
    <div class="advantages__item">
      <div class="advantages__image" data-image="3">
        <img src="img/advantages/advantages-3.webp" alt="picture" aria-hidden="true">
      </div>
      <p class="advantages__text">Финансовые гарантии <br>от <span>«Альфа банка»</span></p>
    </div>
    <div class="advantages__item">
      <div class="advantages__image" data-image="4">
        <img src="img/advantages/advantages-4.webp" alt="picture" aria-hidden="true">
      </div>
      <p class="advantages__text"><span>Доставка</span><br> в любой регион</p>
    </div>
  </div>
</section>