<section class="holding">
  <div class="container holding__container">
    <h2 class="section__title">Инженерно-производственный холдинг</h2>
    <div class="holding__row">
      <div class="holding__left">
        <div class="holding__box">
          <p class="holding__number">02</p>
          <div class="holding__hr"></div>
          <p class="holding__text">Производственные базы (Москва и Санкт-Петербург)</p>
        </div>
        <div class="holding__box">
          <p class="holding__number">27</p>
          <div class="holding__hr"></div>
          <p class="holding__text">единиц профессионального оборудования</p>
        </div>
        <div class="holding__box">
          <p class="holding__number">2 800</p>
          <div class="holding__hr"></div>
          <p class="holding__text">м2 производственных площадей</p>
        </div>
        <div class="holding__box">
          <p class="holding__number">5 000</p>
          <div class="holding__hr"></div>
          <p class="holding__text">тонн выпускаемой продукции ежегодно</p>
        </div>
      </div>
      <div class="holding__right">
        <img src="img/holding/holding-bg.webp" alt="карта" aria-hidden="true">
      </div>
    </div>
  </div>
</section>